@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';

@utility line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

@utility line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

@keyframes fill-left {
  0% {
    width: 0;
    right: 0;
    left: auto;
  }
  100% {
    width: 100%;
    right: 0;
    left: 0;
  }
}

@utility fill-left {
  animation: fill-left 1s ease-in-out forwards;
}